name: Node

on: [push, pull_request]

jobs:
  build:
    name: Build, Lint, and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm ci
        env:
          CI: true
      - name: build
        run: npm run build
      - name: lint
        run: npm run lint
      - name: test
        run: npm run test-ci && bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
          
